<div class="box-content">
  <div class="header d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <ul class="d-flex nav-bar mt-3">
        <li>
          <%= link_to 'Accueil', '../' %>
        </li>
        <li>
          <a href="#">A propos</a>
        </li>
        <li>
          <%= link_to "Contact moi", "/contacts"%>
        </li>
        <%# <li>
          <%= link_to 'Portfolio', '/portfolio', class: ""%>
        <%# </li> %>
      </ul>
    </div>
    <div class="d-flex justify-content-end">
      <ul class="d-flex nav-icons">
        <li>
          <%= link_to 'https://github.com/Lydiasou', target: :_blank do %>
            <i class="fa-brands fa-github"></i>
          <% end %>
        </li>
        <li>
          <%= link_to 'https://www.linkedin.com/in/lydiasoula/', target: :_blank  do %>
            <i class="fa-brands fa-linkedin"></i>
          <% end %>
        </li>
      </ul>
      <div class="logo-border">
        <h6 class="logo">
          <%= cl_image_tag("https://res.cloudinary.com/dsc1uchot/image/upload/v1663690029/Portfolio/Cool_Kids_-_Avatar_gjgmuv.png", width: 50, height: 50, crop: :fill) %>
        </h6>
      </div>
    </div>
  </div>
  <div class="background-animation">
  <div class="row d-flex">
    <div class="profile-picture">
      <%= cl_image_tag("https://res.cloudinary.com/dsc1uchot/image/upload/v1664433594/Portfolio/LeWagon_DDay_560_561_by_BenoitBillard-106_WEB_zbf4kh.jpg", :class => "img-profile-picture")%>
      <p class="m-2">Lorem ipsum dolor sit amet. Qui laudantium reiciendis et reprehenderit sint et
      sapiente nostrum ea nostrum eveniet.</p>
    </div>
    <div class="presentation">
      <div class="text-presentation">
        <h1 class="p-1">Ceci est un titre</h1>
        <p>Lorem ipsum dolor sit amet. Est inventore itaque temporibus officiis id quaerat Quis aut ipsum quibusdam est quia reprehenderit. Ut debitis fugiat At error consequatur est enim porro qui incidunt modi et veritatis eveniet ut exercitationem repudiandae ut temporibus voluptatum.
            Et explicabo repellendus qui culpa suscipit eum optio laborum. Aut nihil temporibus qui provident facere eos facilis soluta cum consequatur dolor. Et veritatis nulla 33 voluptatum quod hic harum dolore sit sint molestiae! Aut iste corporis aut temporibus facilis et maxime itaque? </p>
      </div>
      <h2>Compétences</h2>
        <%= cl_image_tag("https://res.cloudinary.com/dsc1uchot/image/upload/v1664819637/Portfolio/icons8-javascript-64_cfypjy.png", :class => "js-size")%>
        <%= cl_image_tag("https://res.cloudinary.com/dsc1uchot/image/upload/v1664819624/Portfolio/icons8-heroku-48_gq6ybw.png",:class => "heroku-size")%>
        <%= cl_image_tag("https://res.cloudinary.com/dsc1uchot/image/upload/v1664819605/Portfolio/icons8-github-100_wmhvcx.png",:class => "git-size")%>
        <%= cl_image_tag("https://res.cloudinary.com/dsc1uchot/image/upload/v1664819565/Portfolio/icons8-jewel-48_qfidxq.png",:class => "ruby-size")%>
        <%= cl_image_tag("https://res.cloudinary.com/dsc1uchot/image/upload/v1664819546/Portfolio/icons8-css3-48_fraalg.png",:class => "css-size")%>
    </div>
  </div>
  <div class="row">
  </div>
  </div>
</div>
