<li>
  <a href="#">Accueil</a>
</li>
<li>
  <%= link_to "A propos","/apropos" %>
</li>
<li>
  <%= link_to "Contact moi", "/contacts" %>
</li>
<li>
  <%= link_to 'Portfolio', '/portfolio' %>
</li>
<br>
<!-- Git hub and Linkdln-->
<li>
  <%= link_to 'https://github.com/Lydiasou', target: :_blank do %>
    <i class="fa-brands fa-square-git"></i>
  <% end %>
</li>
<li>
  <%= link_to 'https://www.linkedin.com/in/lydiasoula/', target: :_blank  do %>
    <i class="fa-brands fa-linkedin"></i>
  <% end %>
</li>
