<!--  <div class="container">
   HEADER
  <div class="header d-flex justify-content-between">
     LOGO
    <ul class="d-flex nav-bar">
        <li>
          <a href="#">Accueil</a>
        </li>
        <li>
          <%= link_to "A propos","/apropos"%>
        </li>
        <li>
          <%= link_to "Contact moi", "/contacts"%>
        </li>
        <li>
          <%= link_to 'Portfolio', '/portfolio', class: "p-2"%>
        </li>
      </ul>
      <ul class="d-flex nav-bar">
        <li>
          <%= link_to 'https://github.com/Lydiasou', target: :_blank do %>
            <i class="fa-brands fa-github"></i>
          <% end %>
        </li>
        <li>
          <%= link_to 'https://www.linkedin.com/in/lydiasoula/', target: :_blank  do %>
            <i class="fa-brands fa-linkedin"></i>
          <% end %>
        </li>
      </ul>
    <div class="">
      <h6>
        "logo"
      </h6>
    </div>
    NAV
  </div>
</div> -->
<div class="container">
  <div class="header d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <ul class="d-flex nav-bar">
        <li>
          <a href="#">Accueil</a>
        </li>
        <li>
          <%= link_to "A propos","/apropos"%>
        </li>
        <li>
          <%= link_to "Contact moi", "/contacts"%>
        </li>
        <li>
          <%= link_to 'Portfolio', '/portfolio', class: ""%>
        </li>
      </ul>
    </div>
    <div class="d-flex justify-content-end">
      <ul class="d-flex nav-icons">
        <li>
          <%= link_to 'https://github.com/Lydiasou', target: :_blank do %>
            <i class="fa-brands fa-github"></i>
          <% end %>
        </li>
        <li>
          <%= link_to 'https://www.linkedin.com/in/lydiasoula/', target: :_blank  do %>
            <i class="fa-brands fa-linkedin"></i>
          <% end %>
        </li>
      </ul>
      <h6 class="logo m-1">
        "logo"
      </h6>
    </div>
  </div>
</div>
