<div class="container">
  <div class="header d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <ul class="d-flex nav-bar mt-3">
        <li>
          <a href="#">Accueil</a>
        </li>
        <li>
          <%= link_to "A propos","/apropos"%>
        </li>
        <li>
          <%= link_to "Contact moi", "/contacts"%>
        </li>
        <li>
          <%= link_to 'Portfolio', '/portfolio', class: ""%>
        </li>
      </ul>
    </div>
    <div class="d-flex justify-content-end">
      <ul class="d-flex nav-icons">
        <li>
          <%= link_to 'https://github.com/Lydiasou', target: :_blank do %>
            <i class="fa-brands fa-github"></i>
          <% end %>
        </li>
        <li>
          <%= link_to 'https://www.linkedin.com/in/lydiasoula/', target: :_blank  do %>
            <i class="fa-brands fa-linkedin"></i>
          <% end %>
        </li>
      </ul>
      <div class="logo-border">
        <h6 class="logo">
          <%= cl_image_tag("https://res.cloudinary.com/dsc1uchot/image/upload/v1663690029/Portfolio/Cool_Kids_-_Avatar_gjgmuv.png", width: 50, height: 50, crop: :fill) %>
        </h6>
      </div>
    </div>
  </div>
  <div class="background-animation">
    <%= cl_image_tag("https://res.cloudinary.com/dsc1uchot/image/upload/v1664180891/Portfolio/Cool_Kids_-_High_Tech_1_xjjaa7.png")%>
    <div class="box-presentation p-5">
      <h2>
        Bienvenue
      </h2>
      <br>
      <p>
        Lorem ipsum dolor sit amet. Et itaque sint hic dolor laborum 33 molestias magni et fuga illum.
        Et voluptates officiis eum consequatur quia non provident atque et fuga quasi a deserunt distinctio
        ut dolor omnis et quae nulla.
      </p>
    </div>
  </div>
</div>
